@model PersonajeListadoModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Edicion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personaje in Model.Personajes)
        {
            <tr>
                <td>@personaje.Id</td>
                <td>@personaje.Nombre</td>
               <td><a class="nav-link text-dark" asp-area="" asp-controller="Personaje" asp-action="Editar" asp-route-id="@personaje.Id">Editar</a></td>
            </tr>
        }
    </tbody>
</table>
